<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Form Construcciones
                    </span>
                </div>
            </div>

            <div class="card-body">

                <button @click="back()" class="btn btn-secondary float-right">
                    <span class="icon">
                        <ion-icon name="arrow-back"></ion-icon>
                    </span>
                    <span>Regresar</span>
                </button>

                <form name='realestate' class='form mt-4'>
                    <div class="form-group" v-if="item.code">
                        <label>Clave</label>
                        <input class="form-control" type="text" v-model="item.code" readonly>
                    </div>                   

                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" placeholder="Nombre de la construcción" v-model="item.name">
                    </div>

                    <div class="form-group">
                        <label>Estado</label>
                        <input class="form-control" type="text" placeholder="Estado" v-model="item.state" readonly>
                    </div>

                    <div class="form-group">
                        <label>Ciudad</label>
                        <input class="form-control" type="text" placeholder="Ciudad" v-model="item.city" readonly>
                    </div>                   

                    <div class="form-group">
                        <label>Delegación</label>
                        <select class='custom-select' v-model='item.district'>
                            <option value=''>Seleccione</option>
                            <option value='Álvaro Obregón'>Álvaro Obregón</option>
                            <option value='Azcapotzalco'>Azcapotzalco</option>
                            <option value='Benito Juárez'>Benito Juárez</option>
                            <option value='Coyoacán'>Coyoacán</option>
                            <option value='Cuajimalpa de Morelos'>Cuajimalpa de Morelos</option>
                            <option value='Gustavo A. Madero'>Gustavo A. Madero</option>
                            <option value='Cuauhtémoc'>Cuauhtémoc</option>
                            <option value='Iztacalco'>Iztacalco</option>
                            <option value='Iztapalapa'>Iztapalapa</option>
                            <option value='Magdalena Contreras'>Magdalena Contreras</option>
                            <option value='Miguel Hidalgo'>Miguel Hidalgo</option>
                            <option value='Milpa Alta'>Milpa Alta</option>
                            <option value='Tláhuac'>Tláhuac</option>
                            <option value='Tlalpan'>Tlalpan</option>
                            <option value='Venustiano Carranza'>Venustiano Carranza</option>
                            <option value='Xochimilco'>Xochimilco</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Colônia</label>
                        <input class="form-control" type="text" placeholder="Colônia" v-model="item.neighborhood">
                    </div>

                    <div class="form-group">
                        <label>Calle</label>
                        <input class="form-control" type="text" placeholder="Calle" v-model="item.street">
                    </div>

                    <div class="form-group">
                        <label>Características</label>
                        <span v-for="(param, index) in 6">
                            <input class="form-control mt-1" type="text" :placeholder="'Características ' + index" v-model="features[index]">
                        </span>
                        <small>Deje vacio para borrar alguna característica</small>
                    </div>

                    <div class="form-group">
                        <button class='btn btn-success' @click='save'>
                            <span class='icon'>
                                <ion-icon name="save"></ion-icon>
                            </span>
                            <span>Guardar</span>
                        </button>
                    </div>
                </form>


            </div>
        </div>

    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                // Only DF addresses allowed here
                code: false,
                item: {'state': 'DF', 'city': 'Ciudad de México' },
                features: [],
                pagination: {
                    'current_page': 1,
                    'previous_since': '',
                    'sinceHistory': [],
                    'since': ''
                }
            };
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.code = this.urlParam('code')

            if (this.code) {
                this.show(this.code)
            }
        },

        methods: {
            back() {
                window.location.href="/realestate"
            },

            show(id) {
                 //const token = vm.$auth.getToken()
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + token,
                    }
                }               

                axios.get('/api/realestate/show?code=' + id, config)
                    .then(response => {
                        this.item = response.data
                        this.features = response.data.features || []
                    });
            },

            save(e) {
                e.preventDefault()
                //const token = vm.$auth.getToken()
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + token,
                    }
                }

                let item = this.item
                this.item.features = this.features

                if (this.code) {
                    axios.put('/api/realestate/' + item.id, item, config)
                        .then(response => {
                            console.log(response)
                            alert('Actualizado con éxito!')
                            this.back()
                        });                   
                } else {
                    axios.post('/api/realestate', item, config)
                        .then(response => {
                            alert('Creado con éxito!')
                            this.back()
                        });
                }
            },

            urlParam(name, url) {
                if (!url) {
                    url = window.location.href;
                }

                var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
                if (!results) { 
                    return undefined;
                }

                return results[1] || undefined;
            }

        }
    }
</script>
