<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Construcciones
                    </span>
                </div>
            </div>

            <div class="card-body">

                <table class="table table-borderless mb-0">
                    <thead>
                        <tr>
                            <th width='150px'>Clave</th>
                            <th>Nombre</th>
                            <th>Calle</th>
                            <th>Delegación</th>
                            <th width='90px'></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="item in items.data">
                            <td style="vertical-align: middle;">
                                {{ item.code }}
                            </td>

                            <td style="vertical-align: middle;">
                                {{ item.name }}
                            </td>

                            <td style="vertical-align: middle;">
                                {{ item.street }}
                            </td>

                            <td style="vertical-align: middle;">
                                {{ item.district }}
                            </td>

                            <td style="vertical-align: middle;">
                                <a class="btn btn-sm btn-success" :href="'/realestate/edit?code=' + item.code + ''">
                                    <ion-icon name="create"></ion-icon>
                                </a>

                                <button class="btn btn-sm btn-danger" @click='remove(item.id)'>
                                    <ion-icon name="trash"></ion-icon>
                                </button>                               
                            </td>
                        </tr>
                    </tbody>
                </table>

                <pagination :pagination="pagination" :offset="5" @paginate="getData()"></pagination>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                items: [],
                pagination: {
                    'current_page': 1,
                    'last_page': 1,
                    'previous_since': '',
                    'sinceHistory': [],
                    'since': ''
                }
            };
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            // restore pagination, if exists
            let paginationExists = this.restoreValues()

            if (paginationExists) {
                this.pagination = paginationExists
            }

            this.getData()
        },

        methods: {
            paginate() {
                this.getData()
            },

            restoreValues() {
                let filter = localStorage.getItem('pagination')

                return filter ? JSON.parse(filter) : false
            },

            /**
             * Get all users from github
             */
            getData() {
                //const token = vm.$auth.getToken()
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + token,
                    }
                }

                axios.get('/api/realestate?page=' + this.pagination.current_page + '&since=' + this.pagination.since, config)
                    .then(response => {
                        this.items = response.data
                        this.pagination.since = this.items.data[this.items.data.length-1].id
                    });
            },

            remove(id) {
                 //const token = vm.$auth.getToken()
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + token,
                    }
                }               

                axios.delete('/api/realestate/' + id, config)
                    .then(response => {
                        window.location.reload()
                    });               
            }

        }
    }
</script>
