<style scoped>
    .google-map {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        background: gray;
    }
</style>

<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Mapa
                    </span>
                </div>
            </div>

            <div class="card-body">

                <div class="google-map" :id="mapName"></div>

            </div>
        </div>

    </div>
</template>

<style type='text/css'>
.img-thumb {
    width: 60px;
    height: 60px;
    overflow:hidden;
    display: inline-block;
    padding:5px;
}
#map {
	height: 450px;
	margin-top: 80px;	
}
#firstHeading {
	font-size: 20px;
}
#bodyContent a {
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#bodyContent p {
    font-size: 15px;
    max-width: 400px;
}
</style>
<script>
    export default {
        /*
         * The component's data.
         */
        name: 'google-map',
        props: ['name'],       
        data() {
            return {
                mapName: this.name + "-map",
                markerCoordinates: [],
                map: null,
                bounds: null,
                markers: [],
                items: [],
                pagination: {
                    'current_page': 1,
                    'previous_since': '',
                    'sinceHistory': [],
                    'since': ''
                }
            };
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            // dynamic pin data
            let config = {
                headers: {
                    Authorization: 'Bearer ' + token,
                }
            }

            axios.get('/api/realestate/map', config)
                .then(response => {
                    this.markerCoordinates = response.data           

                    const bounds = new google.maps.LatLngBounds();
        
                    const element = document.getElementById(this.mapName)
        
                    const mapCentre = this.markerCoordinates[0]
        
                    const options = {
                        zoom: 8,
                        styles: [{"elementType":"labels","stylers":[{"visibility":"off"},{"color":"#f49f53"}]},{"featureType":"landscape","stylers":[{"color":"#f9ddc5"},{"lightness":-7}]},{"featureType":"road","stylers":[{"color":"#813033"},{"lightness":43}]},{"featureType":"poi.business","stylers":[{"color":"#645c20"},{"lightness":38}]},{"featureType":"water","stylers":[{"color":"#1994bf"},{"saturation":-69},{"gamma":0.99},{"lightness":43}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"#f19f53"},{"weight":1.3},{"visibility":"on"},{"lightness":16}]},{"featureType":"poi.business"},{"featureType":"poi.park","stylers":[{"color":"#645c20"},{"lightness":39}]},{"featureType":"poi.school","stylers":[{"color":"#a95521"},{"lightness":35}]},{},{"featureType":"poi.medical","elementType":"geometry.fill","stylers":[{"color":"#813033"},{"lightness":38},{"visibility":"off"}]},{},{},{},{},{},{},{},{},{},{},{},{"elementType":"labels"},{"featureType":"poi.sports_complex","stylers":[{"color":"#9e5916"},{"lightness":32}]},{},{"featureType":"poi.government","stylers":[{"color":"#9e5916"},{"lightness":46}]},{"featureType":"transit.station","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","stylers":[{"color":"#813033"},{"lightness":22}]},{"featureType":"transit","stylers":[{"lightness":38}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#f19f53"},{"lightness":-10}]},{},{},{}],
                        center: new google.maps.LatLng(mapCentre.position.lat, mapCentre.position.lng)
                    }
        
                    const map = new google.maps.Map(element, options);            
        
                    var InfoWindows = new google.maps.InfoWindow({});
        
                    let icons = { parking: { icon: 'https://tarantelleromane.files.wordpress.com/2016/10/map-marker.png?w=50' } };
       
                    this.markerCoordinates.forEach((coord) => {
                        const position = new google.maps.LatLng(coord.position.lat, coord.position.lng);
                        const marker = new google.maps.Marker({ 
                            position : position,
                            map: map,
                            icon: icons[coord.icon].icon,
                            title: coord.title
                        })
        
                        marker.addListener('mouseover', function() {
                            InfoWindows.open(map, this);
                            InfoWindows.setContent(coord.content);
                        })
        
                        map.fitBounds(bounds.extend(position))
                    })
            })
        },

        methods: {
        }
    }
</script>
