<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Detalles de {{ item.name }}
                    </span>
                </div>
            </div>

            <div class="card-body">

                 <a href='javascript:window.history.back()' class="btn btn-secondary float-right">
                    <span class="icon">
                        <ion-icon name="arrow-back"></ion-icon>
                    </span>
                    <span>Regresar</span>
                </a>

                <table class="table mt-5">
                    <tr>
                        <th>Calle</th>
                        <td>{{ item.street }}</td>
                    </tr>
                    <tr>
                        <th>Colônia</th>
                        <td>{{ item.neighborhood }}</td>
                    </tr>
                    <tr>
                        <th>Ciudad</th>
                        <td>{{ item.city }}</td>
                    </tr>
                    <tr>
                        <th>Delegación</th>
                        <td>{{ item.district }}</td>
                    </tr>
                    <tr v-if="features.length">
                        <th>Características</th>
                        <td><ul><li v-for="feature in features">{{ feature }}</li></ul></td>
                    </tr>
                    <tr v-if="pictures.length">
                        <th>Características</th>
                        <td>
                            <div class="thumb-img" v-for="pic in pictures">
                                <a :href="pic" target="_blank"><img :src="pic" border=0 width=120 class="rounded"></a>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</template>

<style scoped>
.thumb-img {
    width: 120px;
    height: 120px;
    overflow:hidden;
    display:inline-block;
    padding:10px;
}
</style>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                features: [],
                pictures: [],
                item: []
            };
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.code = this.urlParam('code')

            if (this.code) {
                this.show(this.code)
            }
        },

        methods: {
            show(id) {
                    //const token = vm.$auth.getToken()
                let config = {
                    headers: {
                        Authorization: 'Bearer ' + token,
                    }
                }               
    
                axios.get('/api/realestate/show?code=' + id, config)
                    .then(response => {
                        this.item = response.data
                        this.features = response.data.features || []
                        this.pictures = JSON.parse(response.data.gallery) || []
                    });
            },

            urlParam(name, url) {
                if (!url) {
                    url = window.location.href;
                }

                var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
                if (!results) { 
                    return undefined;
                }

                return results[1] || undefined;
            }           
        }
    }
</script>
